.main-content {
    margin-top: 10px;
    margin-left: 270px;
}

.subheader {
    background-color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.profile {
    height:200px;
    width:200px;
}

.user-name {
    background-color: #F9DC5C;
    padding: 4px 2px;
    width: 100%;
}

.class-list {
    margin-top: 20px;
}

.card-header {
    font-size: 24px;
    font-weight: bold;
}

.card-title {
    font-size: 18px;
}



.calendar {
    height: 100%;
    
}

.DayPicker {
    display: inline-block;
    background-color: white;
    font-size: 15px;
    border: 1px solid lightgrey;
    margin-bottom: 3rem;
    border-radius: 1rem;
}

.quiz {
    display: inline-block;
    padding: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 70%;
}
.quiz-option {
    margin: 5px;
    width: 70%;
}

.one-hundred-width {
    width: 100%;
}

.regular-container {
    padding-top: 5%;
    height: 100%;
    background-color: white;
}