* {
    text-align: center;
}

body {
    background-image: url("../images/background-image.png");
    background-repeat: no-repeat;
    background-color: #011936;
}

#root {
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
    padding-top: 10%;
}

.papyri-heading {
    color: #F9DC5C;
    font-size: 64pt;
    text-align: center;
}

.narrow-container {
    max-width: 600px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: inline-block;
}

.wide-container {
    max-width: 1200px;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: top;
    display: inline-block;
}

.left-container {
    float: left;
    width: 25%;
    height: 400px;
}

.right-container {
    margin-left: 25%;
    width: 70%;
    height: 100%;
}