.white-button {
    font-family: 'Comfortaa', cursive;
    background-color:#EC7357;
    border: none;
    margin: 4px 2px;
    color:white;
}


.yellow-button {
    font-family: 'Comfortaa', cursive;
    background-color: #754F44;
    border: none;
    margin: 4px 2px;
    color: white;
}

.standard-button:hover {
    font-family: 'Comfortaa', cursive;
    background-color: #F17F42;
    color: white;
    transition: 1s;
}

.link-button {
    font-family: 'Comfortaa', cursive;
    color:#754F44;
}

.cancel-button {
    font-family: 'Comfortaa', cursive;
    color:#754F44;
    margin: auto auto auto 75%;
}

.link-button:hover {
    font-family: 'Comfortaa', cursive;
    color: #FFEEE4;
}

.custom-input {
    font-family: 'Comfortaa', cursive;
    font-size: 1.25rem;
    padding: .5rem 1rem;
    margin: 4px 2px;
}

.dashboard-sidebar {
    font-family: 'Comfortaa', cursive;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EC7357;
    overflow-x: hidden;
    padding-top: 20px;
}

.profile-image {
    padding-bottom: 20px;
}


.selected-sidebar-button {
    font-family: 'Comfortaa', cursive;
    background-color: #FFEEE4;
    padding: 10px 2px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.nonselected-sidebar-button {
    font-family: 'Comfortaa', cursive;
    background-color: #EC7357;
    padding: 10px 2px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.nonselected-sidebar-button:hover {
    font-family: 'Comfortaa', cursive;
    background-color: #FFEEE4;
    transition: background-color .5s ease;
}

.main-area {
    display: inline-block;
    margin-left: 250px;
    height: 100%;
    padding: 4%;
    width: 60%;
}

.main-area-create-quiz {
    margin-top: 4%;
    margin-left: 250px;
    padding-left: 4%;
    padding-right: 4%;
}

.top-bar {
    background-color: #EC7357;
    height: 60px;
    width: 100%;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 30pt;
}