.yellow-button {
    background-color: #F9DC5C;
    border: none;
    margin: 4px 2px;
    color:#011936;
}


.white-button {
    background-color: white;
    margin: 4px 2px;
    color:#011936;
}

.standard-button:hover {
    background-color: #011936;
    color: white;
    transition: 1s;
}

.link-button {
    color:#F9DC5C;
}

.cancel-button {
    color:#F9DC5C;
    margin: auto auto auto 75%;
}

.link-button:hover {
    color: #F9DC5C;
}

.custom-input {
    font-size: 1.25rem;
    padding: .5rem 1rem;
    margin: 4px 2px;
}

.dashboard-sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #011936;
    overflow-x: hidden;
    padding-top: 20px;
}

.profile-image {
    padding-bottom: 20px;
}


.selected-sidebar-button {
    background-color: #F9DC5C;
    padding: 10px 2px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.nonselected-sidebar-button {
    background-color: #011936;
    padding: 10px 2px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.nonselected-sidebar-button:hover {
    background-color: #F9DC5C;
    transition: background-color .5s ease;
}

.main-area {
    display: inline-block;
    margin-left: 250px;
    height: 100%;
    padding: 4%;
}